<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Listagem de Lares | Happy</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="/images/logo-icon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />    

    <link rel="stylesheet" href="/CSS/main.css" />
    <link rel="stylesheet" href="/CSS/animations.css" />
    <link rel="stylesheet" href="/CSS/sidebar.css">   
    <link rel="stylesheet" href="/CSS/buttons.css">
    <link rel="stylesheet" href="/CSS/page-list-orphanages.css" />

    <style>
      .total-orphanages p {
        color: black;
        text-align: center;
        padding: 16px;
        font-weight: bold;
      }
    </style>
  </head>

  <body>
    <div id="page-list-orphanage">
      <aside class="animate-right sidebar">
        <img src="/images/map-marker.svg" alt="Happy">

        <footer>
          <button onclick="history.back()">
            <img src="/images/arrow-back.svg" alt="voltar">
          </button>
        </footer>
      </aside>

     <main class="width-sidebar">
        <div class="list-orphanages">
           
            {{#each orphanages}}
            <div class="orphanage-card">
              
              <div class="photo-orphanage">
                <img src="{{images}}" alt="">
              </div>

              <div class="info-orphanage">
               
                <h3>{{name}}</h3>
                

                <div>
                  <p>{{about}}</p>
                </div>

                <div>                  
                  <p><span>&#128222;</span>{{whatsapp}}</p>
                </div>

                
                <button form="formDelete" type="submit" id="{{id}}">Deletar cadastro</button>

              </div>
            </div>
            {{/each}} 

            <div class="total-orphanages">

              {{#if orphanages.length }}
              <p>Orfanatos cadastrado: {{orphanages.length}}</p>
              {{else}}
              <p>Orfanatos cadastrado: Nenhum orfanato cadastrado.</p>
              {{/if}}
            </div>           

            <form id="formDelete" action="/list-orphanages?_method=DELETE" method="POST">
              <input type="hidden" name="id" value="{{id}}">
            </form>           

        </div>
     </main>

    </div>

    <script src="/scripts/delete-orphanage.js"></script>
  </body>
</html>
