<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Listagem de Lares | Happy</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="/images/logo-icon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />    

    <link rel="stylesheet" href="/CSS/main.css" />
    <link rel="stylesheet" href="/CSS/animations.css" />
    <link rel="stylesheet" href="/CSS/sidebar.css">   
    <link rel="stylesheet" href="/CSS/buttons.css">
    <link rel="stylesheet" href="/CSS/page-list-orphanages.css" />
  </head>

  <body>
    <div id="page-list-orphanage">
      <aside class="animate-right sidebar">
        <img src="/images/map-marker.svg" alt="Happy">

        <footer>
          <button onclick="history.back()">
            <img src="/images/arrow-back.svg" alt="voltar">
          </button>
        </footer>
      </aside>

     <main class="width-sidebar">
        <div class="list-orphanages">
           
            {{#each orphanages}}
            <div class="orphanage-card">
              
              <div class="photo-orphanage">
                <img src="{{images}}" alt="">
              </div>

              <div class="info-orphanage">
               
                <h3>{{name}}</h3>
                

                <div>
                  <p>{{about}}</p>
                </div>

                <div>                  
                  <p><span>&#128222;</span>{{whatsapp}}</p>
                </div>

                <input type="hidden" name="id" value="{{id}}">
                <button type="button">Deletar cadastro</button>

              </div>
            </div>
            {{/each}}

            {{!-- <div class="orphanage-card">

              <div class="photo-orphanage">
                <img src="https://images.unsplash.com/photo-1535572290543-960a8046f5af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="">
              </div>

              <div class="info-orphanage">
                <h3>nome do orfanato</h3>

                <div>
                  <p>Descrição</p>
                </div>

                <div>
                  
                  <p><span>&#128222;</span>9454815-25481</p>
                </div>

                <button type="button">Deletar cadastro</button>

              </div>
            </div> --}}

           

        </div>
     </main>

    </div>

    <script src="/scripts/delete-orphanage.js"></script>
  </body>
</html>
